#hero-image{
    font-size: 22px;
    color: #fff;
    background-image: url("/images/hero_image.jpg") ;
    min-height: 600px;
    text-align: center;
    h2{font-size: 100px;}
}
.content{
    background-color: #e9e9ff;
    img{width: 100%;}
    .text{
        font-size: 18px;
        h3{font-size: 24px;font-weight:bold;color: #1a1a52; text-transform: uppercase; }
        hr{width: 25%;background-color: #1a1a52;margin-left: 0; height: 2px;}
    }
}
.image-ty{
    display: flex;
  justify-content: space-around;
}
.typesetting-content{  
    .content-ty{
        text-align: center;
        p{font-style: italic;}
        h3{
            color: #1a1a52; text-transform: uppercase;font-size: 22px;font-weight: bold;
        }
        hr{width: 10%;background-color: #1a1a52;height: 1.5px;}
       .name{
            text-transform: uppercase;
            hr{width: 1%;background-color: #1a1a52;display: inline-flex;margin: 3px;}
       }
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #1a1a52;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:hover  {
         background-color: #1a1a52;
      }
}
#ourmission-image{
    color: #fff;
    background-image: url("/images/image_4.jpg") ;
    min-height: 400px;
    text-align: center;
    h3{font-size: 48px;font-weight:bold; text-transform: uppercase;}
}
